@import "../../../sass/helpers/mixins.scss";

.container_noMatch {
  height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url("../../../assets//illustrations/illustration_404.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3em 1em;
  @include media(tablet) {
    background-size: 80%;
  }
  @include media(laptop) {
    background-size: 60%;
  }
  .title_no_match {
    margin: 1em 0;
  }
}
