@import "../../../sass/base/_typography";
@import "../../../sass/helpers/mixins.scss";

.container_joinCommunity {
  height: 180px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  margin-top: 2em;
  p,
  img {
    cursor: pointer;
  }
  img {
    height: 40px;
    margin-bottom: 1em;
    @include media(laptop) {
      margin-right: 1em;
    }
  }
  @include media(laptop) {
    flex-direction: row;
    height: 130px;
  }
}
