@import "../../../sass/helpers/mixins.scss";

.container_feedback {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin-bottom: 2em;
  h2 {
    margin: 1em 0;
  }
  .box_feedback_cards {
    display: flex;
    flex-direction: column;
    @include media(tablet) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    .feedback_card {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 20px;
        position: absolute;
        top: 15px;
        left: 15px;
      }
    }
  }
}
