.container_more_infos_pedagogy {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3em 2em;
  margin-bottom: 3em;
  margin-top: 4em;
  .box_accordion {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 3em 0;
  }
}
