@import "../../../sass/base/theme";
@import "../../../sass/helpers/mixins.scss";

.container_how_it_works {
  height: 100%;
  width: 100%;
  padding: 1em;
  @include media(tablet) {
    padding: 1em 5em;
  }
  @include media(minilaptop) {
    padding: 2em 5em;
  }
  .box_heading {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    h1 {
      text-align: left;
      margin-bottom: 0.5em;
    }
    .separation_bar {
      height: 4px;
      width: 100px;
      background-color: $primary;
    }
  }
  .container_steps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .box_step {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 2em 0;
      @include media(minilaptop) {
        flex-direction: row;
        margin: 0;
      }
      @include media(laptop) {
        flex-direction: row;
        margin: 0;
      }
      &--right {
        flex-direction: column-reverse;
        @include media(minilaptop) {
          flex-direction: row;
        }
        @include media(laptop) {
          flex-direction: row;
        }
      }
      .box_step_description {
        height: 200px;
        background-size: 350px;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em;
        @include media(minilaptop) {
          width: 50%;
          justify-content: flex-start;
          align-items: flex-start;
        }
        @include media(laptop) {
          width: 50%;
          justify-content: flex-start;
          align-items: flex-start;
        }
        .step-text {
          &--left {
            @include media(laptop) {
              text-align: left;
            }
          }
          &--right {
            @include media(laptop) {
              text-align: right;
            }
          }
        }
        h3 {
          margin: 1em 0;
          text-align: center;
          width: 100%;
          @include media(minilaptop) {
            text-align: left;
          }
        }
        p {
          text-align: center;
          @include media(laptop) {
            text-align: left;
          }
        }
      }
      .bg-step {
        &--left {
          @include media(laptop) {
            background-position: 10%;
          }
        }
        &--right {
          @include media(laptop) {
            background-position: 90%;
          }
        }
      }

      .box_step_asset {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3em 0;
        @include media(tablet) {
          width: 50%;
        }
        @include media(laptop) {
          width: 50%;
          margin: 1em 0;
        }
        img {
          height: 250px;
          @include media(minilaptop) {
            height: 250px;
          }
          @include media(laptop) {
            height: 250px;
          }
        }
        .rocket_illustration {
          height: 190px;
        }
      }
    }
  }
}
