@import "../../../sass/helpers/mixins.scss";

.container_landing {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0em 2em;
  @include media(laptop) {
    flex-direction: row;
  }
  .side_action {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include media(laptop) {
      width: 59%;
      align-items: flex-start;
    }
    .title_landing {
      text-align: center;
      @include media(laptop) {
        text-align: left;
        font-size: 55px;
        width: 100%;
      }
    }
    .subtitle_landing {
      text-align: center;
      margin-top: 1em;
      @include media(tablet) {
        max-width: 80%;
      }
      @include media(laptop) {
        text-align: left;
      }
    }
    .box_field {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include media(laptop) {
        flex-direction: row;
      }
      .input {
        height: 70px;
        width: 340px;
        background-color: #f7f7f7;
        border: none;
        font-size: 15px;
        font-weight: 700;
        color: rgb(146, 146, 146);
        padding-left: 1em;
        border-radius: 7px;
        margin: 1.3em 0;
        margin-bottom: 2em;
        &::placeholder {
          color: rgb(167, 167, 167);
        }
        @include media(tablet) {
          height: 60px;
          width: 450px;
          margin: 1.5em 0;
        }

        @include media(laptop) {
          width: 450px;
          margin: 1.5em 0;
          margin-right: 1em;
        }
        @include media(minilaptop) {
          width: 400px;
        }
      }
      Button {
        margin-bottom: 1em;
      }
    }
  }
  .side_illustration_product {
    display: none;
    @include media(minilaptop) {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 3em;
      width: 43%;
    }
    @include media(laptop) {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 3em;
      width: 43%;
    }
    .illustration_landing {
      height: 400px;
      @include media(minilaptop) {
        height: 500px;
      }
      @include media(laptop) {
        height: 500px;
      }
    }
    @include media(laptop) {
      margin-top: 0em;
    }
  }
}
