@import "../../../sass/base/theme";
@import "../../../sass/helpers/mixins.scss";

.container_timeline {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin-bottom: 3em;
  h2 {
    margin: 0.5em 0;
  }
  .container_steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include media(tablet) {
      flex-direction: row;
    }
    .box_step {
      display: flex;
      align-items: center;
      flex-direction: column;
      @include media(tablet) {
        flex-direction: row;
      }
      .heading_step {
        display: flex;
        align-items: center;
        flex-direction: column;
        .step {
          height: 70px;
          width: 70px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 15px;
          margin: 0.5em 0;
          font-size: 1.8em;
        }
        p {
          font-size: 0.9em;
        }
      }
      .separation {
        height: 3px;
        width: 130px;
        background-color: $basic-dark;
        transform: rotate(90deg);
        margin: 5em 0;
        @include media(tablet) {
          transform: rotate(0deg);
          margin: 0em 1em;
        }
      }
    }
  }
}
