@import "../base/_typography";
@import "../base/_theme";
@import "../helpers/mixins.scss";

.heading {
  &-xxl {
    font-family: $brand-font-primary-bold;
    font-size: 60px;
    width: 100%;
    @include media(tablet) {
      width: auto;
      font-size: 50px;
    }
    @include media(minilaptop) {
      font-size: 55px;
    }
    @include media(laptop) {
      font-size: 40px;
    }
    &--extra-bold {
      font-family: $brand-font-secondary-bold;
      font-size: 70px;
    }
  }
  &-l {
    font-family: $brand-font-primary-bold;
    font-size: 35px;
  }
  &-m {
    font-family: $brand-font-primary-bold;
    font-size: 28px;
    line-height: 1.3em;
  }
}

.body {
  font-size: 15px;
  &-s {
    font-family: $brand-font-primary-medium;
    line-height: 1.3em;
    &--light {
      font-family: $brand-font-primary-light;
      line-height: 1.8em;
      font-size: 20px;
    }
    &--bold {
      font-family: $brand-font-primary-bold;
      line-height: 1.6em;
    }
    &--extra-bold {
      font-family: $brand-font-secondary-bold;
      line-height: 1.3em;
    }
  }
  &-xs {
    font-size: 1em;
    font-family: $brand-font-primary-medium;
    line-height: 1.3em;
    &--light {
      line-height: 1.3em;
      font-family: $brand-font-primary-light;
    }
  }
}

.text-center {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.hyphens {
  hyphens: auto;
}
