@import "../../../sass/helpers/mixins.scss";
@import "../../../sass/base/theme";

.container_faq {
  height: 100%;
  padding: 1em;
  .box_cards {
    // background-color: red;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 1em;
    @include media(tablet) {
      flex-direction: row;
      flex-wrap: wrap;
    }
    .card_heading {
      display: flex;
      align-items: center;
      img {
        height: 15px;
        margin-right: 0.5em;
      }
    }
    h6 {
      margin: 1em 0;
    }
  }
  .box_accordion {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
  }
}
