@import "../base/typography";
@import "../base/theme";
@import "../helpers/mixins.scss";
$this: ".btn";

.box_buttons {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  #{$this} {
    cursor: pointer;
    height: 60px;
    width: 300px;
    border: none;
    border-radius: 10px;
    transition-duration: 0.2s;
    @include media(laptop) {
      height: 50px;
      width: 200px;
    }
    &--primary {
      position: relative;
      z-index: 34314;
      background-color: $primary;
      color: $basic-light;
      font-size: 1em;
      font-family: $brand-font-secondary-bold;
    }
    &--secondary {
      background-color: $basic-light;
      border: 4px solid $primary;
      position: absolute;
      margin-top: 10px;
      margin-left: 10px;
    }
    &--primary--light {
      position: relative;
      z-index: 34314;
      background-color: $basic-light;
      color: $basic-dark;
      font-size: 1em;
      font-family: $brand-font-secondary-bold;
    }
    &--secondary--light {
      background-color: $basic-dark;
      border: 4px solid $basic-light;
      position: absolute;
      margin-top: 10px;
      margin-left: 10px;
    }
  }
  &:hover #{$this}--primary {
    margin-top: 3px;
    margin-left: 3px;
  }
  &:hover #{$this}--primary--light {
    margin-top: 3px;
    margin-left: 3px;
  }
}
