@import "../../../sass/helpers/mixins.scss";

.container_faq_insurance {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  @include media(minilaptop) {
    height: 45px;
    flex-direction: row;
  }

  h6 {
    margin: 0;
  }
  span {
    cursor: pointer;
    margin-left: 1em;
  }
  h6,
  span {
    @include media(laptop) {
      font-size: 0.9em;
    }
  }
}
