@import "../../../sass/helpers/mixins.scss";

.container_wording_action {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  margin: 1em 0;
  .container_wording {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    @include media(tablet) {
      flex-direction: row;
    }
    .box_wording {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2em;
      img {
        height: 160px;
        margin: 1.3em 0;

        @include media(laptop) {
          height: 150px;
        }
      }
      h3 {
        width: 80%;
      }
    }
  }
}
